jobs: # A basic unit of work in a run
  Validate_Data: 
    # directory where steps are run
    working_directory: ~/ackrep_data
    docker: # run the steps with Docker
      # CircleCI Python images available at: https://hub.docker.com/r/circleci/python/
      - image: cimg/python:3.8
        environment: # environment variables for primary container
          SKIP_TEST_CREATE_PDF: "True"
    steps: # steps that comprise the `build` job
      - checkout # check out source code to working directory
      - run:
          name: Clone Core
          command: | 
            python -m venv venv
            . venv/bin/activate
            cd ../
            git clone https://github.com/ackrep-org/ackrep_core.git
            cd ackrep_core
            git checkout feature_CI
      - restore_cache:
      # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: deps1--{{ checksum "../ackrep_core/requirements.txt" }}
      - run:
          name: Install Core Dependancies
          command: | 
            . venv/bin/activate
            cd ../ackrep_core
            pip install -r requirements.txt
            pip install -e .
            python manage.py makemigrations
            ackrep --bootstrap-db
      - save_cache: # cache Python dependencies using checksum of requirements as the cache-key
          key: deps1--{{ checksum "../ackrep_core/requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Check all System Models
          command: | 
            . venv/bin/activate
            echo ackrep --check-all-system-models

workflows:
  version: 2 
  build_and_test:
    jobs:
      - Validate_Data
